@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
    font-family: Quicksand;
}
body{
    margin: 0;
    padding: 0;
}

/* shared file for all */

.margin {
    margin: 0px 140px;
}

.btn{
    padding: 16px 61px;
}

.btn{
    border-radius: 12px;
    padding: 15px 60px;
    text-decoration: none;color: white;
    background-color: rgb(254, 163, 1);
    border: none;
}
.btn a{
    text-decoration: none;
    color: white;
    border: none;
    background-color: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
font-size: 1.3rem;
font-weight: 600;
}
/* logo style start here  */

.header_nav {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    align-items: center;
    
}

.logo_style {
    display: flex;
}
.logo_style img{
width: 50px;
height: 50px;
margin-top: 18px;
}
.logo_style p {
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
}
.list_bar ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.list_bar ul >li{
font-size: 1.3rem;
font-weight: 500;
text-align: left;
}


/* header container details */
.container_header {
    display: flex;

}
.hero_container{
    margin-right: 50px;
    margin-top: 120px;
    margin-bottom: 120px; 
}

.container_header h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}

.container_header p {
    color: rgb(17, 17, 17);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}
.hero_btn{
    background-color: black;
}
.hero_btn a{
color: white;
background-color: black;
font-size: 1.2rem;
}

/* section1 css start from here  */
.section1{
    background-image: url("assets/bg.png");
}
.section1 h1{
color: rgb(0, 0, 0);
font-size: 3rem;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
}
.cirruculum_card{
   display: flex;
   margin-top: 80px;
   gap: 35px;
   justify-content: center;

}
.cirruculum_card > div{
 align-items: center;
 border-radius: 10px;
 box-sizing: border-box;
border-radius: 18.86px;
display: grid;
justify-items: center;
position: relative;
width: 367.8px;
height: 476.78px;
}
.cirruculum_card div img{
    margin-top: 10px;
}
.cirruculum_card div h3{
    color: rgb(32, 32, 32);
font-size: 1.6rem;
font-weight: 700;
line-height: 30.65px;
text-align: center;
margin: -5px 0px -10px 0px;
}
.cirruculum_card div p{
    margin: 0px 35px;
    text-align: center;
}
.cirruculum_card div a{
    margin: 10px 0px 40px 0px ;
    text-decoration: none;
}


/* scroll abr css file */

.scroll_bar{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.scroll_bar div img{
    padding: 10px;
    border-radius: 50%;
    background-color: orange;
}


/* section2 css style star form here  */
.section2_gradient_color{
    background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.section2 h1{
    color: rgb(0, 0, 0);
font-size: 3rem;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
}

.stories_card{
    display: flex;
    gap: 20px;
}
/* card 1 css style */
.card_1{
    background-color: white;
    border-radius: 16px;
}
.card_1 img{
    border-radius: 16px 16px  0px 0px;
    width: 100%;
}
.card_1 button{
    border: none;
    padding: 15px 25px;
    border-radius: 47.93px;
background: rgb(60, 216, 232);
color: white;
margin-left: 38px;
top: -25px;
position: relative;
}
.card_1 h4{
    color: rgb(0, 0, 0);
font-size: 24px;
font-weight: 700;
line-height: 38.35px;
letter-spacing: 0%;
text-align: left;
margin-right: 120px;
margin-left: 30px;
}
.card_1 p{
    color: rgb(102, 102, 102);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
margin-left: 30px;
}

.card_2{
    display: grid;
    grid-template-columns:repeat(2 , 2fr);
    gap:20px;
}
.card_2 > div{
    border-radius: 1px solid black;
    background-color: white;
    border-radius: 16px;
    cursor: pointer;
}
.extra{
    display: none;
}
.card_2 div img{
    border-radius: 16px;
    border-radius: 16px 16px  0px 0px;
    width: 100%;
}
.card_2 button{
    border: none;
    padding: 12px 25px;
    border-radius: 47.93px;
color: white;
margin-left: 38px;
top: -25px;
background: rgb(149, 178, 38);
position: relative;
}
.card_2 h5{
    color: rgb(0, 0, 0);
font-size: 1rem;
font-weight: 700;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
margin: -5px 15% -10px 8%;

}
.stories_btn{
    display: flex;
    justify-content: center;
}
.stories_btn button{
    border-radius: 12px;
    padding: 15px 60px;
    color: white;
    margin: 80px 0px 60px 0px;
    background-color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

/* footer section start from here  */

.footer{
    background-color: rgb(1, 172, 253);
     border: 1px solid rgb(255, 255, 255); 
}
.footer_contain{
    margin-top: 120px;
    margin-bottom: 123px;
    margin: 123px 220px 170px 140px;
    display: flex;
    justify-content: space-between;
}
.footer_contain >div{

}
.text_footer{
 display: flex;
 flex-direction: column;
} 
.text_footer div{
    display: flex;
    align-items: center;
    
}
.text_footer img{
    width:90px;
    height: 90px;
}
.text_footer .p{
    color: rgb(255, 255, 255);
font-size: 42.14px;
font-weight: 700;
line-height: 39.51px;
letter-spacing: 0%;
text-align: left;
}
.text_footer p{
    color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
width: 400px;
}
.footer_list h4{
color: rgb(255, 255, 255);
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.footer_list ul{
    list-style: none;
    position: relative;
    left: -37px;
}
.footer_list ul li{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}
.footer_social h4{
    color: rgb(255, 255, 255);
font-size: 26px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.footer_social ul{
display: flex;
gap: 25px;
list-style: none;
position: relative;
left: -38px;
}

/* Mobile view screen for css style */
@media screen and (max-width:590px) {

/* Display None css here */
.header_nav p ,.list_bar 
,.nav_btn
,.card_1{
    display: none;
}

    /* shared Function  */
    .margin ,.hero_container 
    ,.section1
    ,.footer_contain{
        margin: 0px  10px;
    }
    .container_header 
    ,.cirruculum_card{
        flex-direction: column-reverse;
    }

/* Hero page css function */
 .hero_img img{
    width: 100%;
 }
 .hero_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
 }
 .hero_container h1{
flex-direction: column; 
text-align: center;
 }
 .hero_container p{
text-align: center;
margin-bottom: 20px;
 }

 /* card css part here  */
 .section1 h1{
color: rgb(0, 0, 0);
font-size: 26px;
font-weight: 700;
text-align: center;
margin-bottom: -70px;
margin-top: 40px;
 }
.cirruculum_card{
    align-items: center;
}
.cirruculum_card div p{
    padding:  0px 30px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: -20px;
}

/* section 2 responsive css start from here  */
.card_2{
    display: grid;
    grid-template-columns:repeat(2 , 2fr);
}
.card_2 > div h5{
margin: 0px 20px 20px 20px;
} 


/* footer media query */
.footer_contain{
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 40px;
}
}